.hotels{
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 10px;
    margin-top: 350px;
    position: absolute;
}
.hotel{
    display: flex;
    flex-flow: column;
    border: solid 1px rgb(116, 96, 96);
    width: 400px;
    background-color: #fff;
    margin-top: 10px;
}
.hotel-name{
    display: flex; 
    font-family: 'Courier New', monospace;
    font-weight: bolder;
}
.hotel-name p{
 margin-left: 10px;
}
.hotel-info{
    display: flex;
}
.hotel-info p{
 margin-left: 10px;
}
.service{
    padding-left: 10px;
    display: flex;
}
.votebtn{
    height: 20px;
    width: 200px;
    background-color: #8f8fe7;
    color: #fff;
}
.voted-services{
    display: flex;
    background-color: rgb(245, 240, 240);
    flex-wrap: wrap;
}
